@import "~bootstrap/scss/bootstrap.scss";


body{
    font-family: 'Caveat', cursive;
    background-color: thistle;
}
h1{
    text-align: center;
    color:teal;
}
.container{
    background:whitesmoke ;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    padding-top:20px ;
    width: 300px;
    height: 500px;
    overflow: auto;
}